* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    font-family: 'Montserrat', sans-serif;
}

.main-content {
    padding: 2.5rem;
    padding-left: 20rem;
    display: grid;
    grid-template-rows: auto 1fr;
    gap: 6rem;
}

.about-img {
    height: 25rem;
    width: auto;
}

.about-text-box {
    font-size: 2.5rem;
    padding: 1rem 2rem;
    line-height: 1.6;
    font-weight: 500;
}

.element {
    color: #8444df;
    font-weight: 500;
    /* text-decoration: underline; */
}

.about-link{
    text-decoration: none;
    color: #8444df;
}

/* ------------------------------------------------------------ */
.links {
    display: flex;
    gap: 3rem;
    font-weight: 500;
}

.link {
    display: inline-block;
    text-decoration: none;
    color: #8444df;
    overflow: hidden;
    border-bottom: 2px solid transparent;
}

.underline {
    border-bottom: 2px solid #8444df;
    transform: translateX(-100%);
    transition: all 0.5s;
}

.link:hover .underline {
    transform: translateX(0);
}


/* ********************responsive*************** */

@media (max-width: 64.5em) {
    .main-content {
        gap: 4rem;
        padding-left: 16rem;
    }
    .about-text-box {
        font-size: 2.2rem;
    }
}

@media (max-width: 56.25em) {
    .main-content{
        padding-left: 8rem;
    }
    .main-heading{
        font-size: 2.6rem;
    }
}
@media (max-width: 45.625em) {
    .main-content{
        padding-left: 5rem;
    }
    .main-heading{
        font-size: 2.4rem;
    }
}
@media (max-width: 35.625em){
    .main-content{
        margin-top: 3rem;
    }
    .about-text-box{
        padding: 0;
        font-size: 2rem;
    }
}
@media (max-width: 22.8125em){
    .main-content{
        padding-left: 3.5rem;
 }
 .about-text-box{
    font-size: 1.6rem;
}
.main-heading{
    font-size: 2.2rem;
}

}